@using Microsoft.AspNetCore.Http
@using ASC.Utilities
@model ASC.Utilities.Navigation.NavigationMenu
@inject IHttpContextAccessor UserHttpContext
@{
    var currentUser = UserHttpContext.HttpContext.User.GetCurrentUserDetails();
}

@foreach (var menuItem in Model.MenuItems)
{
    if (currentUser.Roles.Intersect(menuItem.UserRoles).Any())
    {
        if (menuItem.IsNested)
        {

            <li>
                <div class="iocn-link menu_show">
                    <a class="collapsible-header" id="@string.Format("ancr{0}",menuItem.DisplayName.Replace(" ",""))">
                        <i class="bx @menuItem.Icon"></i>
                        <span class="link_name">@menuItem.DisplayName</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>

                <ul class="sub-menu">
                    @foreach (var subMenuItem in menuItem.NestedItems.OrderBy(p => p.Sequence).ToList())
                    {
                        if (currentUser.Roles.Intersect(subMenuItem.UserRoles).Any())
                        {
                            <li>
                                <a href="@subMenuItem.Link" id="@string.Format("ancr{0}", subMenuItem.DisplayName.Replace(" ",""))">
                                    <i class="bx @subMenuItem.Icon"></i>
                                    @subMenuItem.DisplayName
                                </a>
                            </li>
                        }
                    }
                </ul>

            </li>

        }
        else
        {
            <li>
                <a href="@menuItem.Link" id="@string.Format("ancr{0}",menuItem.DisplayName.Replace(" ",""))" class="collapsible-header">
                    <i class="bx @menuItem.Icon">
                    </i>
                    <span class="link_name">@menuItem.DisplayName</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">@menuItem.DisplayName</a></li>
                </ul>
            </li>
        }
    }
}