@model Paper.Areas.ServiceRequests.Models.ServiceRequestDetailViewModel
@using Microsoft.AspNetCore.Http
@using ASC.Models.BaseTypes
@inject IHttpContextAccessor UserHttpContext
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    string serviceDoctorDisabled = null;
    string serviceUserDisabled = null;
    if (!UserHttpContext.HttpContext.User.IsInRole(Roles.Admin.ToString()))
    {
        serviceDoctorDisabled = "disabled";
    }
    if (!UserHttpContext.HttpContext.User.IsInRole(Roles.Doctor.ToString()) && !UserHttpContext.HttpContext.User.IsInRole(Roles.Admin.ToString()))
    {
        serviceUserDisabled = "disabled";
    }
    string statusDisabled = null;
    if (!UserHttpContext.HttpContext.User.IsInRole(Roles.Admin.ToString()) &&
    !UserHttpContext.HttpContext.User.IsInRole(Roles.Doctor.ToString()))
    {
        statusDisabled = "disabled";
    }
    // Customer can update the status only if the original status is Customer pending approval.
    if (UserHttpContext.HttpContext.User.IsInRole(Roles.User.ToString()) &&
    Model.ServiceRequest.Status == Status.PendingCustomerApproval.ToString())
    {
        statusDisabled = null;
        ViewBag.Status = new List<string> { "Completed", "RequestForInformation" };
    }

}

<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 mb-2 bg-primary text-white">
                <h5>
                    Request Detail
                </h5>
            </div>
            <div class="p-3 border bg-light">
                <form asp-controller="ServiceRequest" asp-action="UpdateServiceRequestDetails" method="post" class="col s12">
                    <input type="hidden" asp-for="ServiceRequest.RowKey" />
                    <input type="hidden" asp-for="ServiceRequest.PartitionKey" />

                    <div class="row gx-5">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3">

                                    <div class='input-group' >
                                        <input asp-for="ServiceRequest.RequestedDate" type='date' class="form-control" disabled=@serviceUserDisabled/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <select class="form-select" aria-label="Default select example" id="Select_MasterValueInContext_PartitionKey"
                                        asp-for="ServiceRequest.RequestedServices" disabled=@serviceUserDisabled>
                                    >
                                    @foreach (var role in ViewBag.ServiceTypes)
                                    {
                                        if (role.Name == ViewBag.content)
                                        {
                                            <option value="@role.Name" selected>@role.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@role.Name">@role.Name</option>
                                        }



                                    }


                                </select>
                                <label asp-for="ServiceRequest.ServiceDoctor"></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <select class="form-select" aria-label="Default select example" id="Select_MasterValueInContext_PartitionKey"
                                        asp-for="ServiceRequest.ServiceDoctor"
                                        asp-items="@(new SelectList(ViewBag.ServiceDoctor,"Email","Email"))" required="required" disabled=@serviceDoctorDisabled>
                                    >
                                    <option value="">--Select--</option>

                                </select>
                                <label>Doctor</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <select class="form-select" aria-label="Default select example" id="Select_MasterValueInContext_PartitionKey"
                                        asp-for="ServiceRequest.Status"
                                        asp-items="@(new SelectList(ViewBag.Status))" required="required" disabled=@statusDisabled>
                                    >
                                    <option value="">--Select--</option>

                                </select>
                                <label asp-for="ServiceRequest.Status"></label>
                            </div>
                        </div>

                    </div>


                    <div class="input-field col s4 right-align">
                        <button class="btn btn-primary btnSubmit" type="submit" disabled=@statusDisabled
                                name="action">
                            Update

                        </button>
                        <button class="btn btn-primary reset red lighten-1"
                                type="button" name="action" disabled=@statusDisabled>
                            Reset
                        </button>
                    </div>
                    <div class="row col s12 right-align" asp-validation-summary="All"></div>
                </form>
            </div>
        </div>

    </div>

</div>



@await Html.PartialAsync("_ServiceRequestGrid", Model.ServiceRequestAudit,
new ViewDataDictionary(ViewData) {
 { "SectionName", "Recent Updates" },
 { "Id", "tblAuditServiceRequests" },
{ "IsAudit", true }
})

@* Messages Section *@
<!--<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
         
            <div class="p-3 border bg-light">
                <input type="hidden" id="hdnCustomerEmail" value="@Model.ServiceRequest.PartitionKey" />
                <div class="row">
                    <div class="col s6">
                        <ul class="collection with-header">
                            <li class="list-group-item active"><h5>Service Request Messages</h5></li>
                            <li class="collection-item height-300px overflow-y messages">
                              
                                <ol class="list-group list-group-numbered" id="messagesList">
                                    
                                </ol>
                                <div class="card-panel teal lighten-2 white-text noMessages hide">
                                    No
                                    Messages.
                                </div>
                            </li>
                        </ul>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">Press Enter</span>
                            <input type="text" class="form-control" id="txtMessage" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>-->
                        @*<div class="input-field col s12">
                            <input type="text" id="txtMessage" />
                            <label for="txtMessage">Type message here and press enter.</label>
                        </div>*@
                    <!--</div>
                </div>
                </div>
            </div>
        </div>
    </div>-->
            @section Scripts{
                <script>


        $(document).ready(function () {
            // Initialize DataTable to show list of Service Requests
            var table = $('.tblServiceRequests').DataTable({
                'pageLength': 3,
                // Number of records to be displayed per page
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                // Remove default Sorting
                'sorting': [],
                'columns': [{ "visible": false }, { "visible": false }, null,
                { "width": "20%" }, null, null, null, { "visible": false }]
            });
            // Set Styles for DataTable and Number of Records to be displayed dropdown

            // Initialize DatePicker

            // initialize Material Select
            @* Need to pass Verification Token to get Request Validated for Forgery *@


        });
                </script>
            }
